# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*~

# Logs
*.log

# Local builds / temp
node_modules/
dist/
.cache/

# Originals lourds non versionnés (à ajouter dans images/optimized/ uniquement)
images/*.png
images/originaux/
